streamlit
streamlit-authenticator==0.3.2
chromadb
sentence-transformers
# torch
# torchvision
numpy
transformers
accelerate
einops
bitsandbytes
peft
rank_bm25
qwen-vl-utils
bcrypt
Pillow
tqdm
aiohttp
tenacity
spacy
docling>=2.0.0