streamlit
streamlit-authenticator==0.3.2
chromadb
numpy
transformers
accelerate
einops
rank_bm25
qwen-vl-utils
bcrypt
Pillow
tqdm
aiohttp
tenacity
spacy
docling>=2.0.0
fastapi
uvicorn[standard]
requests
PyYAML
PyMuPDF