streamlit
streamlit-authenticator==0.2.3
chromadb
sentence-transformers
pymupdf
pyyaml
torch
torchvision
numpy
transformers
accelerate
einops
bitsandbytes
peft
rank_bm25
qwen-vl-utils
langchain
bcrypt
Pillow
tqdm