app:
  name: "In-House AI Asistan"
  version: "2.0-Alpha"
  welcome_message: "Kurumsal teknik döküman asistanına hoş geldiniz."

system:
  use_mock_llm: true
  gpu_allocation: "auto"
  log_level: "INFO"
  device: "cpu"

vector_db:
  persist_path: "./chroma_db_data"
  collection_prefix: "doc_"

model:
  llm_id: "Qwen/Qwen2.5-VL-7B-Instruct"
  embed_model: "BAAI/bge-m3"

generation:
  max_tokens: 512
  temperature: 0.1