app:
  name: "In-House AI Asistan"
  version: "2.0-Alpha"
  welcome_message: "Kurumsal teknik döküman asistanına hoş geldiniz."

vector_db:
  persist_path: "./chroma_db"     # Veritabanının kaydedileceği klasör
  distance_metric: "cosine"

models:
  device: "cuda"                  # "cpu" veya "cuda"
  vision_model: "Qwen/Qwen2.5-VL-7B-Instruct"
  embedding_model: "BAAI/bge-m3"
  reranker_model: "BAAI/bge-reranker-v2-m3"

ingestion:
  chunk_size: 1000
  chunk_overlap: 200
  batch_size: 10

system:
  use_mock_llm: false